@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

html,
body {
  background: transparent;
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #eab308;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca8a04;
}

@keyframes twinkle {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.05) rotate(0.5deg);
    opacity: 0.7;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 0.5;
  }
}

.animate-twinkle {
  animation: twinkle 8s infinite ease-in-out;
}

/* Asegurarse de que el contenido principal esté por encima del fondo */
main {
  position: relative;
  z-index: 1;
}

/* Hacer transparente cualquier fondo negro residual */
.bg-black {
  background-color: transparent !important;
}

