@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* Fondo de estrellas con imagen y animación */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #000; /* Fondo negro para el espacio */
  background-image: url('/imagenes/fondopantalla2.png'); /* Coloca la ruta de la imagen */
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: 0 0; /* Inicia la imagen desde la esquina superior izquierda */
  background-attachment: fixed; /* Mantiene el fondo fijo mientras se desplaza la página */
  animation: moveStars 150s linear infinite; /* Animación infinita para mover las estrellas */
}

/* Animación para mover las estrellas */
@keyframes moveStars {
  0% {
    background-position: 0 0; /* Comienza en la posición inicial */
  }
  100% {
    background-position: 5000px 5000px; /* Mueve el fondo hacia la derecha y hacia abajo */
  }
}

/* Suavizar el desplazamiento de la página */
html {
  scroll-behavior: smooth;
}

/* Barra de desplazamiento personalizada */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #eab308;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca8a04;
}
